body {
    background-color: #b0b0b0;
}

h1 {
    color: #5ef4;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
}

.container .post img {
    height: 250px;
    width: 259px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container .post {
    background-color: #d1ffcf;
    padding: 15px;
    margin: 30px;
}

.title-text {
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #7AC9AB;
    overflow: auto;
  }